In [42]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from selenium import webdriver
import pandas as pd

In [2]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "C:/Users/lovel/Downloads/USCLOS201805DATA1-Class-Repository-DATA-master1/USCLOS201805DATA1-Class-Repository-DATA-master/01-Class-Content/13-Web-Scraping-and-Document-Databases/3/Activities/10-Stu_Scrape_Weather/Solved/chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [ ]:
# Scrape news title and news contents

In [3]:
def scrape_first():
    browser = init_browser()
    url = "https://mars.nasa.gov/news/"
    browser.visit(url)

    html = browser.html
    news_soup = bs(html, 'html.parser')
    slide_elem = news_soup.select_one('ul.item_list li.slide')

    slide_elem.find("div", class_='content_title')

    news_title = slide_elem.find("div", class_='content_title')
    mars_news_title = news_title.get_text()

    list_text = slide_elem.find("div", class_='list_text')
    title = list_text.find("div", class_='content_title')
    title.get_text()
    teaser = list_text.find("div", class_='article_teaser_body')
    mars_news= teaser.get_text()
    
    first = {
        "news_title": mars_news_title,
        "news": mars_news,
    }

    return first

In [5]:
first= scrape_first()

In [6]:
first

{'news': "NASA's InSight spacecraft, en route to a Nov. 26 landing on Mars, passed the halfway mark on Aug. 6. All of its instruments have been tested and are working well.",
 'news_title': "NASA's InSight Passes Halfway to Mars, Instruments Check In"}

In [ ]:
# Scrape featured image

In [7]:
def scrape_second():
    browser = init_browser()

    url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
    browser.visit(url)

    html = browser.html
    soup = bs(html, 'html.parser')
    image = soup.find("img", class_="thumb")["src"]
    img_url = "https://jpl.nasa.gov"+image
    featured_image_url = img_url
    
    second = {
        "first_img": featured_image_url,
    }

    return second

In [8]:
second=scrape_second()

In [9]:
second

{'first_img': 'https://jpl.nasa.gov/spaceimages/images/wallpaper/PIA22647-640x350.jpg'}

In [ ]:
# Scrape the latest weather information

In [23]:
def scrape_third():
    browser = init_browser()
    url = "https://twitter.com/marswxreport?lang=en"
    browser.visit(url)

    html = browser.html
    weather = bs(html, 'html.parser')
    weather_data = weather.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")
    
    weather_today = weather_data.get_text()
    
    third = {
        "weather_today": weather_today,
    }

    return third

In [24]:
third = scrape_third()

In [25]:
third

{'weather_today': 'Sol 2142 (2018-08-15), high -10C/14F, low -71C/-95F, pressure at 8.65 hPa, daylight 05:28-17:41'}

In [ ]:
# Scrape the mars hemsphere images

In [31]:
def scrape_four():
    
    four = [
        {"title": "Cerberus Hemisphere", "img_url": "http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif"},
        {"title": "Schiaparelli Hemisphere", "img_url": "http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif"},
        {"title": "Syrtis Major Hemisphere", "img_url": "http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif"},
        {"title": "Valles Marineris Hemisphere", "img_url": "http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif"},
    ]

    return four

In [32]:
four = scrape_four()

In [38]:
for item in four:
    print(item["title"])

Cerberus Hemisphere
Schiaparelli Hemisphere
Syrtis Major Hemisphere
Valles Marineris Hemisphere

In [39]:
# Collect the mrs facts

In [40]:
url = 'https://space-facts.com/mars/'

In [43]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [46]:
df = tables[0]

In [48]:
df.columns = ["parameter", "value"]

In [49]:
df.set_index('parameter', inplace=True)

In [50]:
df.index.name=""

In [51]:
df

                                              value

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [52]:
html_table = df.to_html()
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>value</th>    </tr>    <tr>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 Â°C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [53]:
df.to_html('table.html')