In [3]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
from selenium import webdriver

In [4]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
# visit the mars nasa news site
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [6]:
html = browser.html

In [7]:
news_soup = bs(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [8]:
slide_elem.find("div", class_='content_title')

In [9]:
# Use the parent element to find the first tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title')
news_title.get_text()

"Six Things About Opportunity's Recovery Efforts"

In [4]:
# news_title = browser.find_by_css('.content_title').first.text
# news_p = browser.find_by_css('.article_teaser_body').first.text

In [10]:
# Use the parent element to find the paragraph text
list_text = slide_elem.find("div", class_='list_text')
title = list_text.find("div", class_='content_title')
title.get_text()
teaser = list_text.find("div", class_='article_teaser_body')
teaser.get_text()

'The global dust storm on Mars could soon let in enough sunlight for the Opportunity rover to recharge.'

In [11]:
# JPL Spaces Images
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [12]:
# Scrape the browser into soup and use soup to find the image of mars
# Save the image url to a variable called `img_url`
html = browser.html
soup = bs(html, 'html.parser')
image = soup.find("img", class_="thumb")["src"]
img_url = "https://jpl.nasa.gov"+image
featured_image_url = img_url

In [15]:
print(featured_image_url)

https://jpl.nasa.gov/spaceimages/images/wallpaper/PIA22624-640x350.jpg

In [13]:
news_soup = bs(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [14]:
# Mars Weather
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [ ]:
# Mars Facts

In [2]:
url = 'https://space-facts.com/mars/'

In [3]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [4]:
df = tables[0]

In [5]:
df.columns = ["parameter", "value"]

In [6]:
df.set_index('parameter', inplace=True)

In [7]:
df.index.name=""

In [8]:
df

                                              value

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [9]:
html_table = df.to_html()
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>value</th>    </tr>    <tr>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [10]:
df.to_html('table.html')